<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/sonect/app-dist/releases/download/4.0-alpha/SONECT-PROD.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://sonect.github.io/app-dist/assets/img/image.57x57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://sonect.github.io/app-dist/assets/img/image.512x512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>ch.sonect.app</string>
				<key>bundle-version</key>
				<string>4.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>SONECT-PROD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
