body {
    background-color: #eceeef;
    padding: 20px;
}
.version {
    height: 200px;
    width: 200px;
}

.download-link {
    float: right;
    text-decoration: none;
}

ul {
    font-size: 13px;
    padding-left: 20px !important;
}